@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --primary-color: #0a3246;
    --secondary-color: #FB8500;
    --accent1-color: #8fcae6;
    --accent2-color: #fdb500;

    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'Arial', sans-serif;

    --nav-background-color: #fdb500;
    --nav-link-color: #0a3246;
    --nav-hover-link-color:#ffffff;
    --nav-hover-background-color:#fb8500;
}

*{
    max-width: 1400px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    justify-content: center;
    align-content: center;

}

header {
    margin: 0 auto;
    display: grid;
    align-items: center;
    background-color: var(--nav-hover-link-color);
    grid-template-columns: 1fr 2fr;
    background-color: var(--nav-background-color);
    max-width: 1000px;
    border: 1.5px solid var(--primary-color);
}

header img {
    margin-left: 180px;
    width: 100px;
    height:auto;
}

header nav {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

header nav a {
    border: 1px solid var(--primary-color);
}

nav {
    font-size: 20px;
    display: flex;
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    text-align:center;
    padding: 1rem;
}


h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

h1 {
    font-size: 60px;
}

p {
    padding: 10px;
    text-align: justify;
    color: var(--primary-color);
    font-family: var(--paragraph-font);
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    display: flex;
    justify-content: center;
    border: 1px;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
}

.hero h1{
    position: absolute;
    background-color: rgb(10, 50, 70, 0.7);
    padding: 10px;
    width: 100%;
    top: 20px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    overflow: hidden;

}

.hero img {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    max-width: 100%;
    width: 650px;
    height: auto;
    margin-top: 150px;
    padding: 1em;
    background-color: rgb(251, 133, 0, 0.8);

}

.hero article img {
    max-width: 100%;
    width: 150px;
    height: auto;
    float: right;
    margin-left: 473px;
    bottom: 10px;
    
}

.hero article p {
    margin-right: 180px;
    margin-top: 0;
    padding: 7px;
    color: white;
}

section {
    position: relative;
    top: 400px;
    padding: 1rem;
}

.history img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 8px;
}

.history p {
    text-align: center;
    line-height: 1.5rem;
}

.adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 2.5px;
    padding: 20px;
    
}

.adventure img {
    top: 70px;
    width: 150px;
    height: auto;
    margin-bottom: 5px;
    grid-row: 2/3;

}

section h2 {
    font-size: 30px;
    text-align: center;
    top: 70px;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
}

figure {
    border: thin var(--accent1-color) solid;
    display: flex;
    flex-flow: column;
    padding: 3px;
  }
   
  figcaption {
    background-color: rgb(251, 133, 0, 0.8);
    color: white;
    font: italic smaller sans-serif;
    text-align: center;
  }


footer {
    display: flex;
    position: relative;
    top: 420px;
    border: 1px solid var(--primary-color);
    background-color: var(--nav-background-color);
    align-content: center;
    justify-content: center;
}

footer p {
    text-align: center;
    padding: 0.5rem;
    font-family: var(--heading-font);
    margin-top: 10px;
    margin-bottom: 0;

}

footer nav {
    justify-content: center;
    margin-top: 0;
}

footer nav img {
    max-width: 20px;
    height: auto;
  }