@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    background-color: #dae3e7;
}

header{
    text-align: center;
}

header h1 {
    font-size: 60px;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 40px;
    margin: 0 auto;
    background-color: #fff;

}


:root {
    --primary-color: #0a3246;
    --secondary-color: #FB8500;
    --accent1-color: #8ECAE6;
    --accent2-color: #FFB703;

    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'Arial', sans-serif;

    --nav-background-color: #dae3e7;
    --nav-link-color: #0a3246;
    --nav-hover-link-color:#0a3246;
    --nav-hover-background-color:#FFB703;
    
}

.colors {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.colors th, .colors td {
    padding: 20px;
    text-align: center;
    border: 2px solid #ddd;
}

.colors th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.colors .primary {
    background-color: #0a3246;
    color: #fff;
}

.colors .secondary {
    background-color: #FB8500;
}

.colors .accent1 {
    background-color: #8ECAE6;
}

.colors .accent2 {
    background-color: #FFB703;
}

main h2 {
    font-size: 40px;
}

main h3 {
    font-size: xx-large;
}

main h4 {
    font-size: large;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
    text-align: justify;
}

img {
    display: block;
    margin: auto;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    font-family: var(--heading-font);
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.center-heading {
    text-align: center;
}

.center-footer {
    text-align: center;
}
