* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 5px;
}

aside {
    width: 20em ;
    margin-top: 1em ;
    border: 3px solid rgba(123, 123, 123, 0.2);
    padding: 2em;
    background-color: rgba(201, 204, 206, 0.5) ;
    color: black;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    font-size: small;
    top: 40px;
    left: 84px;
    

}

aside img {
    width: 250px;
    height: auto;
    text-align: center;

}

h1{
    color: steelblue;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-bottom: 20px;
    margin-left: 20px;
}

p {
    padding: 10px;

}

footer {
    margin-top: 15px;
    border-top: 1px solid;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 10px;
    border: 3px solid rgba(0, 0, 0, .1);
    padding: 1.5rem;
    background-color: rgb(207, 222, 225);
    color: rgb(16, 32, 63);
    clear: both;
}