main {
    max-width: 840px;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

aside {
    width: 20em ;
    margin-top: 1em ;
    border: 3px solid rgba(123, 123, 123, 0.2);
    padding: 3em;
    background-color: rgba(201, 204, 206, 0.5) ;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: 3px solid rgba(13, 66, 83, 0.2);
}

h1{
    color: steelblue;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;

}

footer {
    margin-top: 15px;
    border-top: 1px solid;
    text-align: center;
}
